
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Agregar
</button>
@using (Ajax.BeginForm("Filtro", "Lugar", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivLugar", InsertionMode = InsertionMode.Replace }, new { @id = "frmFiltro" }))
{
    @Html.Label("Busqueda: ")
    @Html.TextBox("nombree", null, new { @class = "form-control" })
    <div id="DivLugar">
        @Html.Partial("_TablaLugar")
    </div>
}


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Html.Hidden("titulo")
                @Html.Label("Nombre")
                @Html.Editor("nombre",null , new {htmlAttributes = new {@class="form-control" } })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
<script>
    var nombreFiltro = document.getElementById("nombree");
    nombreFiltro.onkeyup = function () {
        $("#frmFiltro").trigger("submit")
    }
</script>