@using CursoUdemy.Models
@model List<RolMV>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<!-- Button trigger modal -->
<button type="button" onclick="Agregar()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Agregar
</button>
@using (Ajax.BeginForm("Filtro", "Rol", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivRol", InsertionMode = InsertionMode.Replace }, new { @id = "frmFiltro" }))
{
    @Html.Label("Busqueda: ")
    @Html.TextBox("nombree", null, new { @class = "form-control" })
    <div id="DivRol">
        @Html.Partial("_TablaRol")
    </div>
}

<!-- Modal Eliminar-->
<div class="modal fade" id="exampleModalConfirmacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Ajax.BeginForm("Eliminar", "Rol", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "BorrarMensaje" }))
            {
                <div class="modal-body">
                    @Html.Hidden("idRol")
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCerrarConfirmacion" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            }
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @using (Ajax.BeginForm("Guardar", "Rol", null, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DivError", OnSuccess = "Guardar" }))
            {
                <div class="modal-body">
                    @Html.Hidden("Titulo")
                    @Html.Label("Nombre")
                    @Html.TextBox("nombre", null, new { @class = "form-control" })
                    @Html.Label("Descripción")
                    @Html.TextBox("descripcion", null, new { @class = "form-control" })
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCerrar" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            }
            <div id="DivError"></div>
        </div>
    </div>
</div>
<script>
    var nombre = document.getElementById("nombree");
    nombre.onkeyup = function () {
        $('#frmFiltro').trigger("submit");
    }
    function limpiar() {
        document.getElementById("DivError").innerHTML = "";
        document.getElementById("nombre").value = "";
        document.getElementById("descripcion").value = "";
    }
    function Agregar() {
        limpiar();
        document.getElementById("Titulo").value = -1;

    }
    function Guardar(Resultado) {
        if (Resultado == "1" || Resultado == "0") {
            $("#frmFiltro").trigger("submit");
            document.getElementById("btnCerrar").click();
            alert("Se agrego correctamente");
        } else {
            alert("Ha ocurrido un error y no se agrego la información")
        }
    }
    function Editar(id) {
        document.getElementById("DivError").innerHTML = "";
        document.getElementById("Titulo").value = id;
        $.get("../Rol/recuperarDatos/?Titulo=" + id, function (data) {
            document.getElementById("nombre").value = data.nombre;
            document.getElementById("descripcion").value = data.descripcion;
        })
    }
    function Eliminar(idRol) {
        document.getElementById("idRol").value = idRol;
    }
    function BorrarMensaje(Resultado) {
        if (Resultado == 1) {
            alert("Se elimino con exito");
            document.getElementById("btnCerrarConfirmacion").click();
            $("#frmFiltro").trigger("submit");
        } else {
            alert("Ha ocurrido un error");
        }
    }
</script>